.mytable
{
    padding: 200px;
    background-color: aqua;
    margin-top:  20px; 
}

.tableContainer
{
     width: 50%;
     margin: auto;
     background-color:bisque ;
     padding: 50px; 

}

.tableContainer table
{
     border: 2px solid black;
     border-collapse: collapse;
    
}

.tableContainer table th
{
     border: 2px solid black;
     padding : 15px;
     background-color: blue;
     
}

.tableContainer table td
{
     border: 2px solid black;
    
}
.mytable div table tr th{
    background-color: red;
    opacity: 0.5;
}

.mytable:hover
{
    opacity: 0.5;
}