.header {
    max-width: 500px;
    border: 15px solid lightgreen;
    background-color: azure;
    padding: 15px;
    margin: 25px ; 
    outline: 15px rgb(153, 100, 51); 
}

.header p 
{
    text-indent: 50px;
    text-align: justify;
    text-decoration: underline;
    line-height: 2;
    letter-spacing: 3px;
    text-shadow: 2px 4px aqua;
}