.header {
    max-width: 500px;
    border: 15px solid lightgreen;
    background-color: azure;
    padding: 15px;
    margin: 25px ; 
    outline: 15px rgb(153, 100, 51); 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}