.ListClass
{
    width: 30%;
    margin: auto;
    background-color: aqua;
    padding: 15px;
    margin-top: 200px;

}

.ListClass ol li
{
    
    color: blue;
    font-size: larger;
    padding: 10px;
    background-color: yellowgreen ;
}